<div class="card p-5">
  <p-table
    #table
    [value]="data"
    [rows]="10"
    [paginator]="data.length > 10"
    selectionMode="single"
    [(selection)]="selectedItem"
    styleClass="p-datatable-gridlines p-datatable-striped">
    <ng-template pTemplate="caption" *ngIf="caption">
      <div class="flex">
        <button
          class="text-blue-600 text-xl border-none"
          (click)="table.exportCSV()"
          pTooltip="CSV"
          tooltipPosition="bottom"
        >
          <fa-icon [icon]="faFileCsv"></fa-icon>
        </button>
        <button
          class="text-green-600 text-xl border-none"
          (click)="exportExcel()"
          pTooltip="XLS"
          tooltipPosition="bottom"
        >
          <fa-icon [icon]="faFileExcel"></fa-icon>
        </button>
        <button
          class="text-red-600 text-xl border-none"
          (click)="exportPdf()"
          pTooltip="PDF"
          tooltipPosition="bottom"
        >
          <fa-icon [icon]="faFilePdf"></fa-icon>
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let header of headers"
          pSortableColumn="{{ header.id }}"
        > {{ header.title }} </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item">
        <td *ngFor="let row of headers">
          {{ item[row.id] ?? 'No data' }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" *ngIf="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ data ? data.length : 0 }} items.
      </div>
  </ng-template>
  </p-table>
</div>
